html, body {
  height: 100%;
  width: 100%;
}
.top-section-kl {
    background-color: #fb4e71;
    font-family: "Roboto";
    padding: 15px;
    height: 50%;
}

.top-text-area {
    color: #ffffff;
}
.down-card{
    background-color: #e6f6ff;
    height: 100%;
    padding: 10px;
}
.down-card1{
    padding: 15px;
}
.ipl-records{
    background-color: #ffffff;
    padding: 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.down-card2{
    padding: 15px;
}
.last-class{
    margin: 20px;
}
